body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  color:  white;
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
}

.left_panel {
    width: 35%;
    height: 80%;
    float: left;
    background-color: #444444;
    border-collapse: collapse;
}

.right_top_panel {
  width: 65%;
  height: 60%;
  position: relative;
  float: right;
  border-width: 1px;
  /*background-color: #b6f9d8;*/
  background-color: #444444;
  border-collapse: collapse;
}

.right_bottom_panel {
  width: 65%;
  height: 20%;
  position: relative;
  float: right;
  /*background-color: royalblue;*/
  background-color: #444444;
  border-collapse: collapse;

}


.top_panel {
  width: 100%;
  height: 10%;
  border-collapse: collapse;
  background-color: #444444;
}

.bottom_panel {
  width: 100%;
  height: 10%;
  float: left;
  border-collapse: collapse;
  /*background-color: #4da6ff;*/
  background-color: #444444;
}

.logout {
  width: 30%;
  font-size: 25px;
  border-radius: 12px;
  margin-left: 10px;
  background-color: #fff;
}

.logout:hover {
	background-color: #888;
}

.btn {
  width: 40%;
  font-size: 15px;
  border-radius: 12px;
  margin-left: 10px;
  background-color: #fff;
}

.btn:hover {
	background-color: #888;
}

.btn2 {
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 10px;
  background-color: #fff;
}

.btn2:hover {
  background-color: #888;
}

input[type=text]{   
  width: 100%;   
  margin: 8px 0;  
  padding: 12px 20px;   
  display: inline-block;   
  border: 2px solid green;   
  box-sizing: border-box;   
} 

.vertical-menu {
  width: 460px;
  height: 180px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.vertical-menu2 {
  width: 870px;
  height: 190px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.vertical-menu2 a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu2 a:hover {
  background-color: #ccc;
}

.vertical-menu2 a.active {
  background-color: #4CAF50;
  color: white;
}