<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Home Page </title>
	<style type="text/css">
		button {
		  background-color: #4CAF50;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  cursor: pointer;
		  width: 30%;
		}

		button:hover {
		  opacity: 0.8;
		}
	</style>
</head>
<body>
	
	<div style="width: 100%; text-align: center;">
		<table width="100%">
			<tr>
				<td>
					<label>
						<h1>Chat App using Flask</h1>
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<a href="register"><button> Register </button> </a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="login"><button> Login </button></a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>